#projects_list{
    display: inline-block;
    width: 100%;
}
.project-state{
    border-radius: 14px;
    width: fit-content;
    text-align: center;
    margin: 10px auto;
}
.project-state a,
.project-state span{
    padding: 0px 15px;
    font-size: 14px;
    color: #000;
}
.project-state.state-3{499
    background: #d44e4e;
}
.project-state.state-3 span {
    color: #fff;
}
.project-state.state-2{
    background: #d3d3cb;
    color: #000;
}
.project-state.state-0{
    background: #16d416;
    color: #000;
}
#projects-browser-form select{
    padding: 3px 20px 3px 5px;
}
#edit-projectlists{
    margin: 20px 0px;
    width: 100%;
    display: block;
}
.project-security {
    position: relative;
    background: #96260d;
    padding: 5px 24px;
    z-index: 495;
    color: #fff;
    right: 50px;
    width: 150px;
    top: 35px;
    text-align: center;
    transform: rotate(-45deg);
}
.project-security.covered{
    background: green;
}
ul.module-categories{
    display: list-item;
    list-style: none;
    margin: 5px -5px;
    padding: 0px;
}

ul.module-categories li{
    margin: 2px 5px;
    padding: 0px 5px;
    display: inline-flex;
    border-radius: 5px;
    background: #d0c9c9;
    border: 1px solid #888484;
}
.admin-project-list{
      display: grid;
      grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
      grid-gap: 15px;
}
.toolbar-vertical .admin-project-list{
      grid-template-columns: calc(33% - 15px) calc(33% - 15px) calc(33% - 15px);
}
.admin-project-list .list-item {
    display: block;
    overflow: hidden;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid #000;
}
.admin-project-list .project-info {
    padding: 5px 15px;
}
.project-module-categories {
    padding: 0px;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
div.images {
    overflow: hidden;
    text-align: center;
    margin-top: -60px;
    height: 250px;
}
div.images img{
    object-fit: contain;
    object-position: center;
    height: 250px;
}
div.images figure img { width: 20%; float: left; }
div.images figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}
.no-results,
.network-issue{
    font-size: 14px;
    font-weight: bold;
    margin: 100px 10px;
}

/* Full screen throbber */
.project-browser-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4);
}
.ajax-progress-project-browser {
  position: fixed;
  z-index: 1001;
  top: 48.5%;
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 48%; /* LTR */
  width: auto;
  height: auto;
  padding: 10px;
  opacity: 0.9;
  border-radius: 7px;
  text-align: center;
  background-color: #232323;
  background-repeat: no-repeat;
  background-position: center center;
}
[dir="rtl"] .ajax-progress-project-browser{
  right: 49%;
  left: auto;
}
.ajax-progress-project-browser .loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  margin: auto;
  width: 70px;
  height: 70px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.projects-browser-form .filters {
    position: sticky;
    display: flow-root;
    top: 70px;
    padding: 10px;
    background: #fff;
    z-index: 499;
}
.toolbar-vertical .projects-browser-form .filters {
    top: 40px;
}
.projects-browser-form .filters .form-item {
    float: left;
    margin-right: 0.5em;
}
.bottom-filters{
    position: sticky;
    bottom: 0px;
    height: 55px;
    z-index: 499;
    padding: 5px 0px;
    background: #fff;
}
.bottom-filters .sort-filters{
    display: block;
    width: 40%;
    float: left;
}
.sort-filters .form-item {
    float: left;
    margin: 0px 10px 0px 10px;
}
.pager-container{
    display: block;
    width: 60%;
    float: left;
    padding: 15px 0px;
    text-align: center;
}
.pager-container .form-item {
    display: contents;
    float: inherit;
}
.ajax-progress-project-browser .message {
    width: 100%;
    padding: 10px 0px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}