<div class="project-item clearfix">
    <div class="project-security {{project.field_security_advisory_coverage}}">
        {% if 'not-covered' in project.field_security_advisory_coverage %}
            {{ 'Not Recommended'|t }}
        {% else %}
            {{ 'Recommended'|t }}
        {% endif %}
    </div>
    <div class="images">
        {% if project.field_project_images|length > 0 %}
                    <img class="screenshot" src="{{project.field_project_images.0.url}}" alt='{{project.field_project_images.0.alt}}'title="{{ project.title }}" />
        {% else %}
            <img class="screenshot" src="{{empty_img}}" alt='empty img' title="" />
        {% endif %}
    </div>
    <div class="project-state state-{{project.project_support.status}}">
        {% if project.project_support.status == 0 %}
            <a href="{{ project.project_support.install_url }}">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px;height: auto;" viewBox="0 0 24 24"><path d="M 11 2 L 11 7 L 8 7 L 12 11 L 16 7 L 13 7 L 13 2 Z M 4.46875 9 L 2.25 14.21875 C 2.089844 14.59375 2 14.996094 2 15.40625 L 2 20 C 2 21.101563 2.898438 22 4 22 L 20 22 C 21.101563 22 22 21.101563 22 20 L 22 15.40625 C 22 14.996094 21.910156 14.589844 21.75 14.21875 L 19.53125 9 L 17.34375 9 L 19.46875 14 L 4.53125 14 L 6.65625 9 Z M 18 16.5 C 18.828125 16.5 19.5 17.171875 19.5 18 C 19.5 18.828125 18.828125 19.5 18 19.5 C 17.171875 19.5 16.5 18.828125 16.5 18 C 16.5 17.171875 17.171875 16.5 18 16.5 Z"></path></svg>
                {{ 'Install Now'|t }}
            </a>
        {% elseif project.project_support.status == 2 %}
            <a href="{{ project.project_support.browse_url }}">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px;height: auto;" viewBox="0 0 512 512"><path d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/></svg>
                {{ 'Download Now'|t }}
            </a>
        {% elseif project.project_support.status == 3  %}
            <span>
                {{ 'Unsupported to your site version'|t }}
            </span>
        {% else %}
            <span>
                {{ 'Installed'|t }}
            </span>
        {% endif %}
    </div>
    <div class="project-info">
        <h3 class="project-title"> 
            {{ project.title }} 
        </h3>
        {% if project.project_usage_sum %}
            <div class="project-usage">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px;height: auto;" viewBox="0 0 512 512"><path d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z"/></svg>
                {{ project.project_usage_sum }} {{ 'Active Installations'|t }}
            </div>
        {% endif %}
        {% if project.flag_project_star_user_count %}
            <div class="project-starred">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px;height: auto;" viewBox="0 0 576 512"><path d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"/></svg>
                {{ project.flag_project_star_user_count }}
            </div>
        {% endif %}
        <div class="project-maintainance-status">
            {{ terms[project.taxonomy_vocabulary_46.id] }}
        </div>
        <div class="project-development-status">
            {{ terms[project.taxonomy_vocabulary_44.id] }}
        </div>
        {% if project.taxonomy_vocabulary_3 %}
            <div class="project-module-categories">
                <ul class="module-categories">
                    {% for item in project.taxonomy_vocabulary_3 %}
                        {% if  terms[item.id] %}
                            <li> {{ terms[item.id] }} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>